.botonc
{
    background-color:#FFCA4B;
    border:0px;
    color:black;
}

.botoncc
{
    background:#FFCA4B;
    border:0px;
    color:black;
}

.botoncentrado{
    margin-left:40px;
}
@media (min-width: 576px) and (max-width: 992px) {
  .botoncentrado {
    margin-left:200px;
  }
}
