.botonc
{
    background-color:#FE0D1D;
    border:0px;
    color:white;
}

.botoncc
{
    background:linear-gradient(#051126 70%,#203560);
    border:0px;
    color:white;
}

.botoncentrado{
    margin-left:40px;
}
@media (min-width: 576px) and (max-width: 992px) {
  .botoncentrado {
    margin-left:200px;
  }
}
