a:hover{
	color:blue;
}

.fondo{
	background:linear-gradient(#051126 70%,#203560);
	
	
}

.boton2{
	background:linear-gradient(#051126 70%,#203560);
	color:white;
	height:300px;
	padding:5px;
	width:320px;
}

.boton3{
	background:linear-gradient(#051126 70%,#203560);
	color:white;
	height:300px;
	padding:5px;
	width:300px;
	
}

.boton2:hover
{
  color:white;
}

.boton3:hover{
	color:white;
}

button.boton4{
	background:linear-gradient(#051126 70%,#203560);
	color:white;
	display: block;
	margin: 0 auto;
	width:200px;
}


input.boton4{
	background:linear-gradient(#051126 70%,#203560);
	color:white;
	display: block;
	margin: 0 auto;
	width:200px;
}

