a:hover{
  color:white;
}
.botonproducto
{
  background-color:#FFCA4B;
  color:black;
  margin-left:200px;  
  text-align: center;
  text-decoration: none;
  width: 100px;
}

button.boton-cargar {
  background:#FFCA4B;
  color:black;
  display: block;
  margin: 0 auto;
  width:200px;
}

@media (max-width: 480px) {
    .botonproducto
    {
     background:linear-gradient(#051126 70%,#203560) ;
      color:white;
      margin-left:100px;  
      text-align:center;
      text-decoration:none;
      width: 100px;
    }

  }