.navbars{
	  /*background:linear-gradient(#051126 70%,#203560) !important;*/  
background-color:#051126;  
}

.fondo{
	background:linear-gradient(#051126 70%,#203560);
	
	
}
box-icon{background-color:#fff;color:#fff;}
.item__total{background-color:red;color:#fff;width:3%;border-radius:5px;}

@media (width <= 560px) {
  .bajartexto{
	  margin-top:50px;
  }
}