.button-container {
    display: flex; /* Habilita Flexbox */
    justify-content: center; /* Centra los elementos horizontalmente */
    padding: 20px 0; /* Espaciado superior e inferior */
}
.container1 {
    background-color: #fff;
    padding: 4rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Personaliza los títulos */
  h2 {
    color: #333;
    font-weight: bold;
  }
   
  /* Personaliza el texto */
   p {
    color: #6c757d;
    line-height: 1.6;
  }
  
  /* Personaliza los enlaces */
   a {
    color: #007bff;
    text-decoration: none;
  }
   
  /* Personaliza las listas */
   .list-inline {
    padding-left: 0;
    list-style: none;
  }
  .list-inline-item {
    margin-right: 1rem;
  }
  .list-inline-item a {
    font-size: 1.5rem;
  } 

  button.boton5{
    background-color:#FFCA4B;
    color:white;
    display: block;
    margin: 0 auto;
    width:200px;
  }